video-js id="current_video" class="video-js vjs-big-play-centered" width="1280" height="720"

- user_info = { account: "#{current_user&.slug || 'anonymous'}" }

javascript:
  let send_view_count = (user_info) => {
    Rails.ajax({
      url: "#{up_count_url}",
      type: "POST",
      data: "#{user_info}",
      success: (data) => {
        let element = $("#video_count"),
            text = $(element).text().split(' ')[1],
            new_text = [data.count, text].join(" ");

        $(element).text(new_text);
      },
      error: (data) => {}
    });
  };

  let handle_blocked_autoplay = () => {
    let element = $(".vjs-big-play-button");

    $(element).click((event) => {
      if ($(element).text() === 'Play Video') send_view_count();
    })
  };

  let handle_video_replay = () => {
    let element = $(".vjs-control-bar").find(".vjs-button")[0];

    $(element).click((event) => {
      if ($(element).text() === 'Replay') send_view_count();
    });
  }

  $(() => {
    let player = videojs('current_video', {
      controls: true,
      preload: 'auto'
    });

    player.ready(() => {
      player.src({
        src: "#{video_url}",
        type: 'application/x-mpegURL'
      });

      let was_playing_promise = player.play();

      if (was_playing_promise !== undefined) {
        was_playing_promise.then(() => {

          send_view_count();

        }).catch((error) => {

          handle_blocked_autoplay();

        });
      }

      handle_video_replay();
    });
  });
